# Dependencies
node_modules/


# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment
.env
.env.*
!.env.example

# Allure
allure-results/
allure-report/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Others
REMINDER.md